body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#global{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#descript{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#afficher{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}